<?xml version="1.0"?>
<launch>

    <arg name="robot_env" default="$(optenv ROBOT_ENV ipr-robotrainer)"/>
    <arg name="sim" default="false"/>
    <arg name="fts_sim" default="false"/>
    
    <arg name="driver_yaml" value="$(find sr2_bringup)/configs/robotrainer_base_driver.yaml"/>
    <arg name="controller_yaml" value="$(find sr2_bringup)/configs/robotrainer_base_controller.yaml"/>
    
    <arg name="controllers_to_load" default="fts_controller"/>
    <arg name="base_controllers_to_spawn" default="joint_state_controller odometry_controller"/>

    <include file="$(find sr2_bringup)/robot/sr2.launch" >
        <arg name="robot_env" value="$(arg robot_env)"/>
        <arg name="navigation" value="true"/>
        <arg name="driver_yaml" value="$(arg driver_yaml)"/>
        <arg name="controller_yaml" value="$(arg controller_yaml)"/>
        <arg name="unload_default_controller" value="true"/>
        <arg name="fts" value="true"/>
        <arg name="fts_sim" value="$(arg fts_sim)"/>
        <arg name="sim" value="$(arg sim)"/>
        <arg name="base_controllers_to_spawn" value="$(arg base_controllers_to_spawn)"/>
    </include>
    
    <group ns="base">
        <node pkg="controller_manager" type="controller_manager" name="base_controller_loader" args="load $(arg controllers_to_load)" respawn="false" output="screen"/>
    </group>
    
    
</launch>
