<?xml version="1.0"?>
<launch>

	<arg name="robot_env" default="$(optenv ROBOT_ENV ipr-roboterhalle)"/>
	<arg name="pkg_env_config" default="$(find cob_default_env_config)"/>
		  
	<include file="$(find cob_bringup)/robots/raw3-5.xml" >
		<arg name="pc1" value="i60sr2"/>
		<arg name="use_fts" value="true"/>
	</include>
	<!-- generates errors, needs to be verified
	<include file="$(find iirob_led)/launch/iirob_led_rectangle.launch"/>
	-->
	<!-- upload default configuration parameters -->
	<include file="$(arg pkg_env_config)/upload_navigation_goals.launch">
		<arg name="robot_env" value="$(arg robot_env)" />
	</include>

	<rosparam ns="base" command="load" file="$(find sr2_bringup)/configs/sensor_configuration.yaml"/>
        
   <node pkg="tf2_ros" type="static_transform_publisher" name="fts_base_transform" args="-0.348 0 0.96 0 0 0 1 /base_link /fts_transform_frame"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="fts_sensor_transform" args="0 0 0 0 0 0.89584996 -0.44435666 /fts_transform_frame /fts_reference_link "/>

</launch>
