<?xml version="1.0"?>
<launch>

    <arg name="robot_env" default="$(optenv ROBOT_ENV ipr-roboterhalle)"/>
    <arg name="pkg_env_config" default="$(find cob_default_env_config)"/>
    <arg name="sim" default="false"/>
    <arg name="fts_sim" default="false"/>

    <arg name="controller_yaml" value="$(find sr2_bringup)/configs/raw3_base_controller_afts.yaml" unless="$(arg fts_sim)" />

    <include file="$(find sr2_bringup)/robot/sr2.launch"> 
        <arg name="controller_yaml" value="$(arg controller_yaml)"/>
        <arg name="fts" value="true"/>
        <arg name="fts_sim" value="$(arg fts_sim)"/>
        <arg name="sim" value="$(arg sim)"/>
        <arg name="neck" value="false"/> 
        <arg name="sick_visionary_t" value="false"/>
   </include>

</launch>
