<?xml version="1.0"?>
<launch>

    <arg name="robot_env" default="$(optenv ROBOT_ENV ipr-roboterhalle)"/>
    <arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

<!--    <include file="$(find sr2_bringup)/robot/sr2.launch">
        <arg name="use_fts" value="true"/>
        <arg name="real_fts" value="true"/>
        <arg name="navigation" value="true"/>
        <arg name="object_tracking" value="true"/>
    </include>-->

    <!-- HARDWARE COMPONENTS -->
    <arg name="neck" default="false"/>
    <arg name="fts" default="false"/>
    <arg name="real_fts" default="false"/>
    <arg name="sick_visionary_t" default="false"/>

    <!-- SCENARIO -->
    <arg name="object_tracking" default="false"/>

     <arg name="object_tracking" value="true"/>

    <arg name="scenario_parameters" value="sim:=$(arg sim) neck:=$(arg neck) fts:=$(arg fts) real_fts:=$(arg real_fts) sick_visionary_t:=$(arg sick_visionary_t) object_tracking:=$(arg object_tracking)" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr2_bringup)/urdf/sr2.urdf.xacro' $(arg scenario_parameters)"/>

</launch>
