<?xml version="1.0"?>
<launch>

    <arg name="robot_env" default="$(optenv ROBOT_ENV ipr-roboterhalle)"/>
    <arg name="pkg_env_config" default="$(find cob_default_env_config)"/>

    <arg name="sim" default="false"/>
    <arg name="robot" value="raw3-5"/>
    
    <!-- HARDWARE COMPONENTS -->
    <arg name="neck" default="true"/>
    <arg name="neck_camera" default="true"/>
    <arg name="fts" default="false"/>
    <arg name="fts_sim" default="false"/>
    <arg name="sick_visionary_t" default="false"/>

    <arg name="scenario_parameters" value="sim:=$(arg sim) neck:=$(arg neck) fts:=$(arg fts) fts_sim:=$(arg fts_sim) sick_visionary_t:=$(arg sick_visionary_t) neck_camera:=$(arg neck_camera)" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr2_bringup)/urdf/sr2.urdf.xacro' $(arg scenario_parameters)"/>
    
    <!-- robot state publisher -->
    <include file="$(find cob_bringup)/tools/robot_state_publisher.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>
    
    <node name="map_base_link_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 map base_link" />
    
    <node name="map_conveyor_transform" pkg="tf2_ros" type="static_transform_publisher" args="-0.23 -1.40 0.85 0 0 0 1 map conveyor" />
    
    <include file="$(find openni2_launch)/launch/openni2.launch">
        <arg name="depth_registration" value="true" />
    </include>

</launch>
