<?xml version="1.0"?>
<launch>

    <arg name="sim" default="false"/>

    <!--
    <include ns="base" file="$(find ati_force_torque)/ros/launch/sensor_parameters.launch" if="$(arg sim)">
        <arg name="sim" value="true" />
    </include>
    -->
    
    <rosparam ns="base" command="load" file="$(find sr2_bringup)/configs/fts.yaml" unless="$(arg sim)"/>
    <rosparam command="load" ns="Calibration/Offset" file="$(find sr2_bringup)/configs/fts_offset.yaml" unless="$(arg sim)" />
    
    <include if="$(arg sim)" file="$(find teleop_twist_joy)/launch/teleop.launch">
        <arg name="config_filepath" value="$(find ati_force_torque)/config/teleop_sim.yaml"/>
    </include>

</launch>
