<?xml version="1.0"?>
<launch>

    <arg name="sim" default="false"/>

    <include ns="base" file="$(find ati_force_torque)/ros/launch/sensor_parameters.launch">
        <arg name="sim" value="true" />
    </include>

    <include if="$(arg sim)" file="$(find teleop_twist_joy)/launch/teleop.launch">
        <arg name="config_filepath" value="$(find ati_force_torque)/config/teleop_sim.yaml"/>
    </include>

   <node pkg="tf2_ros" type="static_transform_publisher" name="fts_base_transform" args="-0.348 0 0.96 0 0 0 1 /base_link /fts_transform_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="fts_sensor_transform" args="0 0 0 0 0 0.89584996 -0.44435666 /fts_transform_frame /fts_reference_link "/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="fts_sensor_transform" args="0 0 0 0 0 0.89584996 -0.44435666 /fts_base_link /fts_reference_link "/>


</launch>
