<?xml version="1.0"?>
<launch>
    <!-- send urdf to param server -->
<!--    <param name="neck_description" command="$(find xacro)/xacro '$(find sr2_bringup)/urdf/components/neck.urdf.xacro'"/>  -->

    <!-- robot state publisher -->
<!--    <node name="neck_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="10"/>
        <remap from="robot_description" to="neck_description"/>
    </node> -->
 
    <arg name="camera" default="false" />

    <node ns="neck_controller" name="neck_controller" pkg="schunk_powercube_chain" type="schunk_powercube_chain_node" respawn="false" output="screen" >
        <rosparam command="load" file="$(find sr2_bringup)/configs/powercube_driver.yaml"/>
<!--	<remap from="/robot_description" to="/neck_description"/> -->
    </node>

    <group if="$(arg camera)">
        <include file="$(find openni2_launch)/launch/openni2.launch">
            <arg name="depth_registration" value="true" />
        </include>
    </group>

</launch>
